{
"access": {
  "openapi": "3.1.0",
  "info": {
    "title": "Access API reference",
    "description": "A centralized API to manage resource access control through roles and permissions.",
    "contact": {
      "name": "Sanity",
      "url": "https://sanity.io"
    },
    "version": "v2025-07-11"
  },
  "servers": [
    {
      "url": "https://api.sanity.io",
      "description": "Production External API"
    }
  ],
  "tags": [
    {
      "name": "Users",
      "description": "Manage users who have been assigned organization roles."
    },
    {
      "name": "Robots",
      "description": "Manage robots and robot tokens."
    },
    {
      "name": "Roles",
      "description": "Manage roles assignable to users of an organization or application."
    },
    {
      "name": "Permissions",
      "description": "View permissions available to roles within an organization or application."
    },
    {
      "name": "Requests",
      "description": "Request access to resources. View requests to access resources."
    },
    {
      "name": "Invites",
      "description": "Manage and accept invites."
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "parameters": {
      "cursorParam": {
        "in": "query",
        "name": "nextCursor",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "The cursor for pagination. Use the nextCursor from the previous response to get the next page."
      },
      "limitParam": {
        "in": "query",
        "name": "limit",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 500,
          "default": 100
        },
        "description": "The number of items to return per page."
      },
      "sanityUserIdParam": {
        "in": "path",
        "name": "sanityUserId",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "The User ID",
        "example": "gDdcnv42e"
      },
      "resourceTypeParam": {
        "name": "resourceType",
        "description": "The resource type to scope the access requests to.",
        "in": "path",
        "required": true,
        "schema": {
          "$ref": "#/components/schemas/ResourceType"
        }
      },
      "resourceIdParam": {
        "in": "path",
        "name": "resourceId",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "The resource ID to scope the access request to. Must be a valid ID for the resource type.",
        "example": "c7ja4siy"
      },
      "robotIdParam": {
        "in": "path",
        "name": "robotId",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "The robot's unique identifier.",
        "example": "gJh7daoq4"
      },
      "roleNameParam": {
        "in": "path",
        "name": "roleName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "The role name.",
        "example": "administrator"
      },
      "permissionNameParam": {
        "in": "path",
        "name": "permissionName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "The name of the permission. This is a unique identifier for the permission.",
        "example": "sanity.project.members.read"
      },
      "requestIdParam": {
        "name": "requestId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "The ID of the request."
      },
      "includeChildrenParam": {
        "in": "query",
        "name": "includeChildren",
        "required": false,
        "schema": {
          "type": "boolean"
        },
        "description": "Whether to include children resources in the response. Only applies to `organization` resources.",
        "example": false
      },
      "includeImpliedRolesParam": {
        "in": "query",
        "name": "includeImpliedRoles",
        "required": false,
        "schema": {
          "type": "boolean",
          "default": false
        },
        "description": "Whether to include implied roles in the response."
      },
      "inviteId": {
        "name": "inviteId",
        "description": "The invite's unique identifier.",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "inviteStatus": {
        "name": "status",
        "description": "Filter invites by status.",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/InviteStatus"
          }
        }
      },
      "inviteToken": {
        "in": "path",
        "name": "inviteToken",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "The public token for the invite. This token is shared with the invitee."
      }
    },
    "responses": {
      "badRequest": {
        "description": "Bad request."
      },
      "forbidden": {
        "description": "Session is missing required permissions or has the wrong type."
      },
      "resourceNotFound": {
        "description": "Resource not found."
      },
      "unauthorized": {
        "description": "Session is not authenticated."
      }
    },
    "schemas": {
      "PermissionType": {
        "type": "string",
        "enum": [
          "sanity.blueprints",
          "sanity.canvas",
          "sanity.canvas.comment",
          "sanity.canvas.document",
          "sanity.canvas.support",
          "sanity.dashboard.configuration.me",
          "sanity.dashboard.configuration.organization",
          "sanity.dashboard.favorites",
          "sanity.dashboard.history",
          "sanity.dashboard.intents",
          "sanity.dashboard.state",
          "sanity.document.filter",
          "sanity.document.filter.mode",
          "sanity.media-library",
          "sanity.media-library.aspects",
          "sanity.media-library.asset-instances",
          "sanity.media-library.asset-management",
          "sanity.media-library.assets",
          "sanity.media-library.members",
          "sanity.media-library.signed-url",
          "sanity.media-library.hierarchy",
          "sanity.media-library.roles",
          "sanity.media-library.document.filter",
          "sanity.organization",
          "sanity.organization.legal",
          "sanity.organization.members",
          "sanity.organization.sessions",
          "sanity.organization.projects",
          "sanity.organization.roles",
          "sanity.organization.sso",
          "sanity.organization.tokens",
          "sanity.organization.views",
          "sanity.project",
          "sanity.project.blueprints",
          "sanity.project.cors",
          "sanity.project.datasets",
          "sanity.project.graphql",
          "sanity.project.members",
          "sanity.project.notification-settings",
          "sanity.project.roles",
          "sanity.project.tags",
          "sanity.project.tokens",
          "sanity.project.usage",
          "sanity.project.webhooks",
          "sanity.sdk.applications",
          "sanity.view"
        ],
        "description": "The resource for the permission.",
        "example": "sanity.document.filter.mode"
      },
      "PermissionAction": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/sanity.document.filter.name"
          },
          {
            "$ref": "#/components/schemas/sanity.document.filter.mode.name"
          },
          {
            "$ref": "#/components/schemas/sanity.organization.name"
          },
          {
            "$ref": "#/components/schemas/sanity.organization.legal.name"
          },
          {
            "$ref": "#/components/schemas/sanity.organization.members.name"
          },
          {
            "$ref": "#/components/schemas/sanity.organization.sessions.name"
          },
          {
            "$ref": "#/components/schemas/sanity.organization.projects.name"
          },
          {
            "$ref": "#/components/schemas/sanity.organization.roles.name"
          },
          {
            "$ref": "#/components/schemas/sanity.organization.sso.name"
          },
          {
            "$ref": "#/components/schemas/sanity.organization.tokens.name"
          },
          {
            "$ref": "#/components/schemas/sanity.project.name"
          },
          {
            "$ref": "#/components/schemas/sanity.project.cors.name"
          },
          {
            "$ref": "#/components/schemas/sanity.project.datasets.name"
          },
          {
            "$ref": "#/components/schemas/sanity.project.graphql.name"
          },
          {
            "$ref": "#/components/schemas/sanity.project.members.name"
          },
          {
            "$ref": "#/components/schemas/sanity.project.notification-settings.name"
          },
          {
            "$ref": "#/components/schemas/sanity.project.roles.name"
          },
          {
            "$ref": "#/components/schemas/sanity.project.tags.name"
          },
          {
            "$ref": "#/components/schemas/sanity.project.tokens.name"
          },
          {
            "$ref": "#/components/schemas/sanity.project.usage.name"
          },
          {
            "$ref": "#/components/schemas/sanity.project.webhooks.name"
          },
          {
            "$ref": "#/components/schemas/sanity.sdk.applications.name"
          },
          {
            "$ref": "#/components/schemas/sanity.view.name"
          },
          {
            "$ref": "#/components/schemas/sanity.organization.views.name"
          },
          {
            "$ref": "#/components/schemas/sanity.media-library.name"
          },
          {
            "$ref": "#/components/schemas/sanity.media-library.aspects.name"
          },
          {
            "$ref": "#/components/schemas/sanity.media-library.asset-instances.name"
          },
          {
            "$ref": "#/components/schemas/sanity.media-library.asset-management.name"
          },
          {
            "$ref": "#/components/schemas/sanity.media-library.assets.name"
          },
          {
            "$ref": "#/components/schemas/sanity.media-library.members.name"
          },
          {
            "$ref": "#/components/schemas/sanity.media-library.signed-url.name"
          },
          {
            "$ref": "#/components/schemas/sanity.media-library.hierarchy.name"
          },
          {
            "$ref": "#/components/schemas/sanity.media-library.roles.name"
          },
          {
            "$ref": "#/components/schemas/sanity.media-library.document.filter.name"
          },
          {
            "$ref": "#/components/schemas/sanity.canvas.name"
          },
          {
            "$ref": "#/components/schemas/sanity.canvas.comment.name"
          },
          {
            "$ref": "#/components/schemas/sanity.canvas.document.name"
          },
          {
            "$ref": "#/components/schemas/sanity.canvas.support.name"
          },
          {
            "$ref": "#/components/schemas/sanity.dashboard.configuration.me.name"
          },
          {
            "$ref": "#/components/schemas/sanity.dashboard.configuration.organization.name"
          },
          {
            "$ref": "#/components/schemas/sanity.dashboard.favorites.name"
          },
          {
            "$ref": "#/components/schemas/sanity.dashboard.history.name"
          },
          {
            "$ref": "#/components/schemas/sanity.dashboard.intents.name"
          },
          {
            "$ref": "#/components/schemas/sanity.dashboard.state.name"
          },
          {
            "$ref": "#/components/schemas/sanity.blueprints.name"
          },
          {
            "$ref": "#/components/schemas/sanity.project.blueprints.name"
          }
        ]
      },
      "PermissionActions": {
        "oneOf": [
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sanity.document.filter"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sanity.document.filter.mode"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sanity.organization"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sanity.organization.legal"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sanity.organization.members"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sanity.organization.sessions"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sanity.organization.projects"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sanity.organization.roles"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sanity.organization.sso"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sanity.organization.tokens"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sanity.project"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sanity.project.cors"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sanity.project.datasets"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sanity.project.graphql"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sanity.project.members"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sanity.project.notification-settings"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sanity.project.roles"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sanity.project.tags"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sanity.project.tokens"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sanity.project.usage"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sanity.project.webhooks"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sanity.sdk.applications"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sanity.view"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sanity.organization.views"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sanity.media-library"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sanity.media-library.aspects"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sanity.media-library.asset-instances"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sanity.media-library.asset-management"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sanity.media-library.assets"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sanity.media-library.members"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sanity.media-library.signed-url"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sanity.media-library.hierarchy"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sanity.media-library.roles"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sanity.media-library.document.filter"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sanity.canvas"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sanity.canvas.comment"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sanity.canvas.document"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sanity.canvas.support"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sanity.dashboard.configuration.me"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sanity.dashboard.configuration.organization"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sanity.dashboard.favorites"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sanity.dashboard.history"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sanity.dashboard.intents"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sanity.dashboard.state"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sanity.blueprints"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sanity.project.blueprints"
            }
          }
        ],
        "description": "The actions allowed by the permission for this role.",
        "example": [
          "mode"
        ]
      },
      "sanity.document.filter": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/sanity.document.filter.name"
          },
          "title": {
            "type": "string",
            "example": "Sanity Document Filter"
          },
          "description": {
            "type": "string",
            "example": "Defines a permission resource for a filtered collection of Sanity documents"
          }
        }
      },
      "sanity.document.filter.name": {
        "type": "string",
        "enum": [
          "create",
          "read",
          "update",
          "manage",
          "history",
          "editHistory"
        ]
      },
      "sanity.document.filter.mode": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/sanity.document.filter.mode.name"
          },
          "title": {
            "type": "string",
            "example": "Sanity Document Filter Mode"
          },
          "description": {
            "type": "string",
            "example": "Defines a permission resource with a access control mode for a filtered collection of Sanity documents"
          }
        }
      },
      "sanity.document.filter.mode.name": {
        "type": "string",
        "enum": [
          "mode"
        ]
      },
      "sanity.organization.members": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/sanity.organization.members.name"
          },
          "title": {
            "type": "string",
            "example": "Organization Members"
          },
          "description": {
            "type": "string",
            "example": "Organization members"
          }
        }
      },
      "sanity.organization.members.name": {
        "type": "string",
        "enum": [
          "invite",
          "read",
          "update",
          "delete"
        ]
      },
      "sanity.organization.sessions": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/sanity.organization.sessions.name"
          },
          "title": {
            "type": "string",
            "example": "Organization Sessions"
          },
          "description": {
            "type": "string",
            "example": "Organization sessions"
          }
        }
      },
      "sanity.organization.sessions.name": {
        "type": "string",
        "enum": [
          "read",
          "delete"
        ]
      },
      "sanity.project.tokens": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/sanity.project.tokens.name"
          },
          "title": {
            "type": "string",
            "example": "Project Tokens"
          },
          "description": {
            "type": "string",
            "example": "Manage authorization tokens for a project"
          }
        }
      },
      "sanity.project.tokens.name": {
        "type": "string",
        "enum": [
          "read",
          "create",
          "delete"
        ]
      },
      "sanity.project.datasets": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/sanity.project.datasets.name"
          },
          "title": {
            "type": "string",
            "example": "Project Datasets"
          },
          "description": {
            "type": "string",
            "example": "Project dataset management"
          }
        }
      },
      "sanity.project.datasets.name": {
        "type": "string",
        "enum": [
          "read",
          "create",
          "update",
          "delete"
        ]
      },
      "sanity.project.usage": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/sanity.project.usage.name"
          },
          "title": {
            "type": "string",
            "example": "Project Usage"
          },
          "description": {
            "type": "string",
            "example": "Manage project usage"
          }
        }
      },
      "sanity.project.usage.name": {
        "type": "string",
        "enum": [
          "read"
        ]
      },
      "sanity.organization.legal": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/sanity.organization.legal.name"
          },
          "title": {
            "type": "string",
            "example": "Organization legal"
          },
          "description": {
            "type": "string",
            "example": "Organization legal"
          }
        }
      },
      "sanity.organization.legal.name": {
        "type": "string",
        "enum": [
          "read",
          "update"
        ]
      },
      "sanity.organization.sso": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/sanity.organization.sso.name"
          },
          "title": {
            "type": "string",
            "example": "SSO"
          },
          "description": {
            "type": "string",
            "example": "Manage and setup SSO for an organization"
          }
        }
      },
      "sanity.organization.sso.name": {
        "type": "string",
        "enum": [
          "saml"
        ]
      },
      "sanity.project.graphql": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/sanity.project.graphql.name"
          },
          "title": {
            "type": "string",
            "example": "Project GraphQL"
          },
          "description": {
            "type": "string",
            "example": "Manage GraphQL for a project"
          }
        }
      },
      "sanity.project.graphql.name": {
        "type": "string",
        "enum": [
          "read",
          "manage"
        ]
      },
      "sanity.project": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/sanity.project.name"
          },
          "title": {
            "type": "string",
            "example": "Project"
          },
          "description": {
            "type": "string",
            "example": "Archive, delete and transfer the project to a organization"
          }
        }
      },
      "sanity.project.name": {
        "type": "string",
        "enum": [
          "read",
          "update",
          "delete",
          "createSession",
          "deployStudio"
        ]
      },
      "sanity.project.cors": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/sanity.project.cors.name"
          },
          "title": {
            "type": "string",
            "example": "Project CORS"
          },
          "description": {
            "type": "string",
            "example": "Manage CORS settings for a project"
          }
        }
      },
      "sanity.project.cors.name": {
        "type": "string",
        "enum": [
          "read",
          "create",
          "delete"
        ]
      },
      "sanity.project.webhooks": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/sanity.project.webhooks.name"
          },
          "title": {
            "type": "string",
            "example": "Project Webhooks"
          },
          "description": {
            "type": "string",
            "example": "Manage webhooks for a project"
          }
        }
      },
      "sanity.project.webhooks.name": {
        "type": "string",
        "enum": [
          "read",
          "create",
          "delete",
          "update"
        ]
      },
      "sanity.project.roles": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/sanity.project.roles.name"
          },
          "title": {
            "type": "string",
            "example": "Project Roles"
          },
          "description": {
            "type": "string",
            "example": "Manage project roles and permissions"
          }
        }
      },
      "sanity.project.roles.name": {
        "type": "string",
        "enum": [
          "create",
          "read",
          "update",
          "delete"
        ]
      },
      "sanity.organization.tokens": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/sanity.organization.tokens.name"
          },
          "title": {
            "type": "string",
            "example": "Organization Tokens"
          },
          "description": {
            "type": "string",
            "example": "Manage authorization tokens for an organization"
          }
        }
      },
      "sanity.organization.tokens.name": {
        "type": "string",
        "enum": [
          "read",
          "create",
          "delete"
        ]
      },
      "sanity.organization": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/sanity.organization.name"
          },
          "title": {
            "type": "string",
            "example": "Organization"
          },
          "description": {
            "type": "string",
            "example": "Organization management"
          }
        }
      },
      "sanity.organization.name": {
        "type": "string",
        "enum": [
          "read",
          "update",
          "delete",
          "billing",
          "manage"
        ]
      },
      "sanity.project.members": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/sanity.project.members.name"
          },
          "title": {
            "type": "string",
            "example": "Project Members"
          },
          "description": {
            "type": "string",
            "example": "Manage project memberships"
          }
        }
      },
      "sanity.project.members.name": {
        "type": "string",
        "enum": [
          "invite",
          "read",
          "update",
          "delete"
        ]
      },
      "sanity.project.notification-settings": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/sanity.project.notification-settings.name"
          },
          "title": {
            "type": "string",
            "example": "Project Notification Settings"
          },
          "description": {
            "type": "string",
            "example": "Manage project notification settings"
          }
        }
      },
      "sanity.project.notification-settings.name": {
        "type": "string",
        "enum": [
          "read",
          "update"
        ]
      },
      "sanity.organization.projects": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/sanity.organization.projects.name"
          },
          "title": {
            "type": "string",
            "example": "Organization projects management"
          },
          "description": {
            "type": "string",
            "example": "Organization projects"
          }
        }
      },
      "sanity.organization.projects.name": {
        "type": "string",
        "enum": [
          "read",
          "attach",
          "detach"
        ]
      },
      "sanity.organization.roles": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/sanity.organization.roles.name"
          },
          "title": {
            "type": "string",
            "example": "Organization Roles"
          },
          "description": {
            "type": "string",
            "example": "Manage organization roles and permissions"
          }
        }
      },
      "sanity.organization.roles.name": {
        "type": "string",
        "enum": [
          "create",
          "read",
          "update",
          "delete"
        ]
      },
      "sanity.project.tags": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/sanity.project.tags.name"
          },
          "title": {
            "type": "string",
            "example": "Project tags"
          },
          "description": {
            "type": "string",
            "example": "Project tag management"
          }
        }
      },
      "sanity.project.tags.name": {
        "type": "string",
        "enum": [
          "read",
          "create",
          "update",
          "delete"
        ]
      },
      "sanity.view": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/sanity.view.name"
          },
          "title": {
            "type": "string",
            "example": "View"
          },
          "description": {
            "type": "string",
            "example": "View Documents"
          }
        }
      },
      "sanity.view.name": {
        "type": "string",
        "enum": [
          "read"
        ]
      },
      "sanity.sdk.applications": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/sanity.sdk.applications.name"
          },
          "title": {
            "type": "string",
            "example": "Sanity SDK Applications"
          },
          "description": {
            "type": "string",
            "example": "Manage SDK Apps"
          }
        }
      },
      "sanity.sdk.applications.name": {
        "type": "string",
        "enum": [
          "read",
          "deploy",
          "delete"
        ]
      },
      "sanity.organization.views": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/sanity.organization.views.name"
          },
          "title": {
            "type": "string",
            "example": "Organization Views"
          },
          "description": {
            "type": "string",
            "example": "Manage organization Views"
          }
        }
      },
      "sanity.organization.views.name": {
        "type": "string",
        "enum": [
          "read",
          "create",
          "update",
          "delete"
        ]
      },
      "sanity.media-library": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/sanity.media-library.name"
          },
          "title": {
            "type": "string",
            "example": "Media Library"
          },
          "description": {
            "type": "string",
            "example": "Manage Media Library instances"
          }
        }
      },
      "sanity.media-library.name": {
        "type": "string",
        "enum": [
          "read",
          "update",
          "delete"
        ]
      },
      "sanity.media-library.aspects": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/sanity.media-library.aspects.name"
          },
          "title": {
            "type": "string",
            "example": "Media Library Aspects"
          },
          "description": {
            "type": "string",
            "example": "Manage Media Library Aspects"
          }
        }
      },
      "sanity.media-library.aspects.name": {
        "type": "string",
        "enum": [
          "read",
          "create",
          "update"
        ]
      },
      "sanity.media-library.asset-instances": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/sanity.media-library.asset-instances.name"
          },
          "title": {
            "type": "string",
            "example": "Media Library Asset Instance"
          },
          "description": {
            "type": "string",
            "example": "Manage Media Library Instances"
          }
        }
      },
      "sanity.media-library.asset-instances.name": {
        "type": "string",
        "enum": [
          "read",
          "create",
          "update"
        ]
      },
      "sanity.media-library.asset-management": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/sanity.media-library.asset-management.name"
          },
          "title": {
            "type": "string",
            "example": "Media Library Asset Management"
          },
          "description": {
            "type": "string",
            "example": "Manage Media Library assets"
          }
        }
      },
      "sanity.media-library.asset-management.name": {
        "type": "string",
        "enum": [
          "read",
          "create",
          "update"
        ]
      },
      "sanity.media-library.assets": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/sanity.media-library.assets.name"
          },
          "title": {
            "type": "string",
            "example": "Media Library Assets"
          },
          "description": {
            "type": "string",
            "example": "Manage assets"
          }
        }
      },
      "sanity.media-library.assets.name": {
        "type": "string",
        "enum": [
          "read",
          "create",
          "publish"
        ]
      },
      "sanity.media-library.members": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/sanity.media-library.members.name"
          },
          "title": {
            "type": "string",
            "example": "Media Library Members"
          },
          "description": {
            "type": "string",
            "example": "Manage Media Library members"
          }
        }
      },
      "sanity.media-library.members.name": {
        "type": "string",
        "enum": [
          "read",
          "invite",
          "update",
          "delete"
        ]
      },
      "sanity.media-library.signed-url": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/sanity.media-library.signed-url.name"
          },
          "title": {
            "type": "string",
            "example": "Media Library Signed"
          },
          "description": {
            "type": "string",
            "example": "Manage media-library operations with signed urls"
          }
        }
      },
      "sanity.media-library.signed-url.name": {
        "type": "string",
        "enum": [
          "read",
          "manage"
        ]
      },
      "sanity.media-library.hierarchy": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/sanity.media-library.hierarchy.name"
          },
          "title": {
            "type": "string",
            "example": "Media Library Hierarchy"
          },
          "description": {
            "type": "string",
            "example": "Manage Media Library hierarchy (trees and directories)"
          }
        }
      },
      "sanity.media-library.hierarchy.name": {
        "type": "string",
        "enum": [
          "read",
          "create",
          "update"
        ]
      },
      "sanity.media-library.roles": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/sanity.media-library.roles.name"
          },
          "title": {
            "type": "string",
            "example": "Media Library Roles"
          },
          "description": {
            "type": "string",
            "example": "Manage Media Library roles and permissions"
          }
        }
      },
      "sanity.media-library.roles.name": {
        "type": "string",
        "enum": [
          "create",
          "read",
          "update",
          "delete"
        ]
      },
      "sanity.media-library.document.filter": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/sanity.media-library.document.filter.name"
          },
          "title": {
            "type": "string",
            "example": "Media Library Document Filter"
          },
          "description": {
            "type": "string",
            "example": "Defines a permission resource for a filtered collection of Media Library documents"
          }
        }
      },
      "sanity.media-library.document.filter.name": {
        "type": "string",
        "enum": [
          "read",
          "create",
          "update",
          "manage",
          "publish",
          "history"
        ]
      },
      "sanity.canvas": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/sanity.canvas.name"
          },
          "title": {
            "type": "string",
            "example": "Canvas Application"
          },
          "description": {
            "type": "string",
            "example": "Manage Canvas Applications"
          }
        }
      },
      "sanity.canvas.name": {
        "type": "string",
        "enum": [
          "read"
        ]
      },
      "sanity.canvas.comment": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/sanity.canvas.comment.name"
          },
          "title": {
            "type": "string",
            "example": "Canvas Comment"
          },
          "description": {
            "type": "string",
            "example": "Manage Canvas Comments"
          }
        }
      },
      "sanity.canvas.comment.name": {
        "type": "string",
        "enum": [
          "read",
          "create",
          "update"
        ]
      },
      "sanity.canvas.document": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/sanity.canvas.document.name"
          },
          "title": {
            "type": "string",
            "example": "Canvas Document"
          },
          "description": {
            "type": "string",
            "example": "Manage Canvas Documents"
          }
        }
      },
      "sanity.canvas.document.name": {
        "type": "string",
        "enum": [
          "read",
          "create",
          "update"
        ]
      },
      "sanity.canvas.support": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/sanity.canvas.support.name"
          },
          "title": {
            "type": "string",
            "example": "Canvas Support Documents"
          },
          "description": {
            "type": "string",
            "example": "Manage Canvas Support Documents"
          }
        }
      },
      "sanity.canvas.support.name": {
        "type": "string",
        "enum": [
          "read",
          "create",
          "update"
        ]
      },
      "sanity.dashboard.configuration.me": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/sanity.dashboard.configuration.me.name"
          },
          "title": {
            "type": "string",
            "example": "Personal Dashboard Settings"
          },
          "description": {
            "type": "string",
            "example": "Manage Personal Dashboard Settings"
          }
        }
      },
      "sanity.dashboard.configuration.me.name": {
        "type": "string",
        "enum": [
          "read",
          "create",
          "update"
        ]
      },
      "sanity.dashboard.configuration.organization": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/sanity.dashboard.configuration.organization.name"
          },
          "title": {
            "type": "string",
            "example": "Organization Dashboard Configuration"
          },
          "description": {
            "type": "string",
            "example": "Manage Organization Dashboard Configuration"
          }
        }
      },
      "sanity.dashboard.configuration.organization.name": {
        "type": "string",
        "enum": [
          "read",
          "create",
          "update"
        ]
      },
      "sanity.dashboard.favorites": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/sanity.dashboard.favorites.name"
          },
          "title": {
            "type": "string",
            "example": "My Dashboard Favorites"
          },
          "description": {
            "type": "string",
            "example": "Manage Dashboard Favorites"
          }
        }
      },
      "sanity.dashboard.favorites.name": {
        "type": "string",
        "enum": [
          "read",
          "create",
          "update"
        ]
      },
      "sanity.dashboard.history": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/sanity.dashboard.history.name"
          },
          "title": {
            "type": "string",
            "example": "My Dashboard History"
          },
          "description": {
            "type": "string",
            "example": "Manage Dashboard History"
          }
        }
      },
      "sanity.dashboard.history.name": {
        "type": "string",
        "enum": [
          "read",
          "create",
          "update"
        ]
      },
      "sanity.dashboard.intents": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/sanity.dashboard.intents.name"
          },
          "title": {
            "type": "string",
            "example": "Manage Dashboard Intents"
          },
          "description": {
            "type": "string",
            "example": "Manage Dashboard Intents"
          }
        }
      },
      "sanity.dashboard.intents.name": {
        "type": "string",
        "enum": [
          "read",
          "create",
          "update",
          "delete"
        ]
      },
      "sanity.dashboard.state": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/sanity.dashboard.state.name"
          },
          "title": {
            "type": "string",
            "example": "Dashboard State"
          },
          "description": {
            "type": "string",
            "example": "Manage Dashboard State"
          }
        }
      },
      "sanity.dashboard.state.name": {
        "type": "string",
        "enum": [
          "read",
          "create",
          "update"
        ]
      },
      "sanity.blueprints": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/sanity.blueprints.name"
          },
          "title": {
            "type": "string",
            "example": "Blueprints"
          },
          "description": {
            "type": "string",
            "example": "Manage Blueprints stacks"
          }
        }
      },
      "sanity.blueprints.name": {
        "type": "string",
        "enum": [
          "deploy",
          "read"
        ]
      },
      "sanity.project.blueprints": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/sanity.project.blueprints.name"
          },
          "title": {
            "type": "string",
            "example": "Project Blueprints"
          },
          "description": {
            "type": "string",
            "example": "Manage Blueprints stacks scoped to a project"
          }
        }
      },
      "sanity.project.blueprints.name": {
        "type": "string",
        "enum": [
          "deploy",
          "read"
        ]
      },
      "Permission": {
        "title": "Permission",
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/PermissionType"
          },
          "actions": {
            "$ref": "#/components/schemas/PermissionActions"
          },
          "name": {
            "type": "string",
            "description": "The name of the permission. This is the unique identifier for the resource.",
            "example": "legal-documents"
          },
          "title": {
            "type": "string",
            "description": "The human-readable title of the permission.",
            "example": "Permission for \"Legal\" Folder"
          },
          "description": {
            "type": "string",
            "description": "The description of the permission.",
            "example": "Permission for \"Legal\" Folder"
          },
          "resourceType": {
            "type": "string",
            "description": "The resource the permission applies to.",
            "example": "project"
          },
          "resourceId": {
            "type": "string",
            "description": "The resource ID the permission applies to.",
            "example": "c7ja4siy"
          },
          "ownerOrganizationId": {
            "type": "string",
            "description": "The organization ID the permission applies to. Used for wildcard permissions where the resourceId is `*`.",
            "example": "or0Bc1hcJ"
          },
          "isCustom": {
            "type": "boolean",
            "description": "Whether the permission is a custom (user-created) permission or a system-provided one.",
            "example": false
          },
          "params": {
            "type": "object",
            "description": "The parameters for the permission. This is a key-value map of the permission's configuration.",
            "example": {
              "filter": "*[_type == \"legal\"]"
            }
          }
        },
        "required": [
          "type",
          "name",
          "title",
          "resourceType",
          "resourceId"
        ]
      },
      "Role": {
        "title": "Role",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "administrator"
          },
          "title": {
            "type": "string",
            "example": "Administrator"
          },
          "description": {
            "type": "string",
            "example": "Administrators can manage billing details, legal contacts, organization users, and manage project ownership."
          },
          "isCustom": {
            "type": "boolean",
            "example": false
          },
          "resourceType": {
            "type": "string",
            "example": "organization"
          },
          "resourceId": {
            "type": "string",
            "example": "or0Bc1hcJ"
          },
          "appliesToUsers": {
            "type": "boolean",
            "example": true
          },
          "appliesToRobots": {
            "type": "boolean",
            "example": true
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "$ref": "#/components/schemas/PermissionType"
                },
                "action": {
                  "$ref": "#/components/schemas/PermissionAction"
                },
                "name": {
                  "type": "string",
                  "description": "The name of the permission.",
                  "example": "legal-documents"
                },
                "params": {
                  "type": "object",
                  "description": "The parameters for the permission. This is a key-value map of the permission's configuration.",
                  "example": {
                    "dataset": "development"
                  }
                }
              }
            }
          }
        },
        "required": [
          "name",
          "title",
          "resourceType",
          "resourceId",
          "appliesToUsers",
          "appliesToRobots",
          "permissions"
        ]
      },
      "Membership": {
        "type": "object",
        "properties": {
          "addedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2024-01-15T12:15:30Z"
          },
          "resourceType": {
            "type": "string",
            "example": "project"
          },
          "resourceId": {
            "type": "string",
            "example": "c7ja4siy"
          },
          "roleNames": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "administrator",
              "editor"
            ]
          },
          "lastSeenAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2024-01-15T12:15:30Z"
          },
          "resourceUserId": {
            "type": [
              "string",
              "null"
            ],
            "description": "An alternative ID for the user in the resource. Only present for project memberships. That is, a user can be assigned to multiple projects, and each project will have a different resourceUserId to reference the same user.",
            "example": "projectUserId123"
          }
        },
        "required": [
          "resourceType",
          "resourceId",
          "roleNames"
        ]
      },
      "Memberships": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Membership"
        }
      },
      "User": {
        "title": "User",
        "type": "object",
        "properties": {
          "sanityUserId": {
            "type": "string",
            "example": "gDdcnv42e"
          },
          "profile": {
            "$ref": "#/components/schemas/UserProfile"
          },
          "memberships": {
            "$ref": "#/components/schemas/Memberships"
          }
        },
        "required": [
          "sanityUserId",
          "profile",
          "memberships"
        ]
      },
      "Request": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "request-id"
          },
          "status": {
            "type": "string",
            "example": "pending"
          },
          "resourceId": {
            "type": "string",
            "example": "project-id"
          },
          "resourceType": {
            "type": "string",
            "example": "project"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2024-07-10T12:00:00Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2024-07-10T12:00:00Z"
          },
          "updatedByUserId": {
            "type": "string",
            "example": "admin-id"
          },
          "requestedByUserId": {
            "type": "string",
            "example": "user-id"
          },
          "note": {
            "type": "string",
            "example": "Text describing the reason of the request."
          },
          "requestedByUserProfile": {
            "$ref": "#/components/schemas/UserProfile"
          },
          "type": {
            "$ref": "#/components/schemas/RequestType"
          },
          "requestedRole": {
            "type": "string",
            "example": "editor"
          }
        },
        "required": [
          "id",
          "status",
          "resourceId",
          "resourceType",
          "createdAt",
          "requestedByUserId"
        ]
      },
      "ResourceType": {
        "type": "string",
        "enum": [
          "organization",
          "project",
          "media-library",
          "canvas",
          "dashboard",
          "view"
        ],
        "example": "project",
        "description": "Resources are entities that can be managed and accessed through the\nAccess API.\n"
      },
      "Robot": {
        "type": "object",
        "description": "A robot is a service account that can be used to authenticate with the API.",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the robot.",
            "readOnly": true
          },
          "tokenId": {
            "type": "string",
            "description": "The unique identifier for the active token.",
            "readOnly": true
          },
          "label": {
            "type": "string",
            "description": "A human-readable label for the robot."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "The creation date of the robot.",
            "readOnly": true
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the active token expires.",
            "readOnly": true
          },
          "managedBy": {
            "type": "object",
            "readOnly": true,
            "description": "The resource this token was created under. When this is an organization but the token is listed under a project, the token was created via the organization and should be managed there. Omitted for legacy tokens whose origin can't be determined.\n",
            "properties": {
              "resourceType": {
                "type": "string",
                "example": "organization"
              },
              "resourceId": {
                "type": "string",
                "example": "oeMyOrg"
              }
            },
            "required": [
              "resourceType",
              "resourceId"
            ]
          },
          "memberships": {
            "$ref": "#/components/schemas/Memberships"
          }
        },
        "required": [
          "id",
          "label",
          "createdAt",
          "memberships"
        ]
      },
      "RobotWithToken": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/Robot"
          }
        ],
        "properties": {
          "token": {
            "type": "string",
            "description": "The secret token for the robot.",
            "readOnly": true
          }
        },
        "required": [
          "token"
        ]
      },
      "Invite": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/InviteStatus"
          },
          "resourceType": {
            "$ref": "#/components/schemas/ResourceType"
          },
          "resourceId": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "description": "The email address of the invitee. Only present if the invite is still pending.\n"
          },
          "inviterType": {
            "$ref": "#/components/schemas/InviterType"
          },
          "inviterId": {
            "type": "string",
            "description": "The ID of the user or service that created the invite. Only present if the invite was created by a user.\n"
          },
          "inviteeId": {
            "type": "string",
            "description": "The ID of the user that accepted the invite. Only present if the invite has been accepted.\n"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "status",
          "resourceType",
          "resourceId",
          "role",
          "inviterType",
          "createdAt",
          "updatedAt"
        ]
      },
      "InviteStatus": {
        "type": "string",
        "enum": [
          "pending",
          "accepted",
          "revoked"
        ]
      },
      "InviterType": {
        "type": "string",
        "enum": [
          "user",
          "service"
        ]
      },
      "UserProfile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "familyName": {
            "type": "string"
          },
          "givenName": {
            "type": "string"
          },
          "middleName": {
            "type": [
              "string",
              "null"
            ]
          },
          "imageUrl": {
            "type": "string",
            "format": "uri"
          },
          "provider": {
            "type": "string"
          },
          "tosAcceptedAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "isCurrentUser": {
            "type": "boolean"
          },
          "providerId": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "displayName",
          "email",
          "provider",
          "createdAt"
        ]
      },
      "RequestType": {
        "type": "string",
        "enum": [
          "access",
          "role"
        ],
        "example": "access",
        "description": "The type of request."
      },
      "PaginatedResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Cursor to get the next page of results, `null` if there are no more results."
          }
        },
        "required": [
          "data",
          "nextCursor"
        ]
      },
      "UserPermission": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the permission.",
            "example": "sanity-project-members"
          },
          "type": {
            "type": "string",
            "description": "The type of the permission.",
            "example": "sanity.project.members"
          },
          "action": {
            "$ref": "#/components/schemas/PermissionAction",
            "example": "read"
          },
          "resourceType": {
            "$ref": "#/components/schemas/ResourceType",
            "example": "project"
          },
          "resourceId": {
            "type": "string",
            "example": "project-id"
          },
          "params": {
            "type": "object",
            "description": "The parameters for the permission. This is a key-value map of the permission's configuration.",
            "example": {
              "dataset": "development"
            }
          }
        },
        "required": [
          "name",
          "action",
          "resourceType",
          "resourceId"
        ]
      }
    },
    "requestBodies": {
      "CreateRobotRequestBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string",
                  "description": "A human-readable label for the robot.",
                  "example": "My Robot"
                },
                "expiresAt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "When the token should expire.",
                  "example": "2030-01-01T00:00:00.000Z"
                },
                "memberships": {
                  "$ref": "#/components/schemas/Memberships"
                }
              },
              "required": [
                "label",
                "memberships"
              ]
            }
          }
        }
      },
      "CreateInviteRequestBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string"
                },
                "role": {
                  "type": "string"
                }
              },
              "required": [
                "email",
                "role"
              ]
            }
          }
        }
      },
      "RoleRequestBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 100,
                  "example": "Custom Role"
                },
                "name": {
                  "type": "string",
                  "pattern": "^[a-z0-9-_]+$",
                  "example": "custom-role"
                },
                "description": {
                  "type": "string",
                  "default": "",
                  "example": "Custom role for project"
                },
                "appliesToUsers": {
                  "type": "boolean",
                  "default": true
                },
                "appliesToRobots": {
                  "type": "boolean",
                  "default": true
                },
                "permissions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name of the permission.",
                        "example": "legal-documents"
                      },
                      "action": {
                        "$ref": "#/components/schemas/PermissionAction"
                      },
                      "params": {
                        "type": "object",
                        "description": "The parameters for the permission. This is a key-value map of the permission's configuration.",
                        "example": {
                          "dataset": "development"
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "title",
                "name",
                "resourceType",
                "resourceId",
                "appliesToUsers",
                "appliesToRobots",
                "permissions"
              ]
            }
          }
        }
      },
      "PermissionRequestBody": {
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "$ref": "#/components/schemas/PermissionType"
                },
                "name": {
                  "type": "string",
                  "description": "The name of the permission resource. A unique identifier for a permission.",
                  "example": "legal-documents"
                },
                "title": {
                  "type": "string",
                  "description": "A human-readable title of the permission resource. This is used for display purposes.",
                  "example": "Permission for \"Legal\" Folder"
                },
                "description": {
                  "type": "string",
                  "description": "The description of the permission resource.",
                  "example": "Permission for \"Legal\" Folder"
                },
                "config": {
                  "type": "object",
                  "description": "Some permissions allow for additional configuration when used with document permissions. Accepts a groq filter or a dataset name.",
                  "example": {
                    "filter": "*[_type == 'legal']"
                  }
                }
              },
              "required": [
                "type",
                "name",
                "title",
                "description"
              ]
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v2025-07-11/access/{resourceType}/{resourceId}/permissions": {
      "get": {
        "summary": "Get Permissions.",
        "description": "Gets the available permissions within the scope of a resource. These permissions can be applied to roles and are used to determine user/robot access to resources. <br /> <br /> Requires permission: `sanity.{resourceType}.roles.read`\n",
        "operationId": "getPermissions",
        "tags": [
          "Permissions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceTypeParam"
          },
          {
            "$ref": "#/components/parameters/resourceIdParam"
          },
          {
            "$ref": "#/components/parameters/cursorParam"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of permission resources for the resource",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Permission"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "post": {
        "summary": "Create a permission.",
        "description": "Creates a custom permission on a resource. <br /> <br /> Requires permission: `sanity.{resourceType}.roles.create` <br /> Requires feature: `advancedRolesManagement` <br /> <br /> See Example. It creates a permission to allow a user to read legal documents in project `c7ja4siy` and dataset `production`.\n",
        "operationId": "createPermission",
        "tags": [
          "Permissions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceTypeParam"
          },
          {
            "$ref": "#/components/parameters/resourceIdParam"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/PermissionRequestBody"
        },
        "responses": {
          "201": {
            "description": "Permission resource created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Permission"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2025-07-11/access/{resourceType}/{resourceId}/permissions/{permissionName}": {
      "get": {
        "summary": "Get a permission",
        "description": "Gets a permission for a resource by name. Requires permission\n  - `sanity.{resourceType}.roles.read`\n",
        "operationId": "getPermission",
        "tags": [
          "Permissions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceTypeParam"
          },
          {
            "$ref": "#/components/parameters/resourceIdParam"
          },
          {
            "$ref": "#/components/parameters/permissionNameParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The permission resource for the resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Permission"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "put": {
        "summary": "Update a permission",
        "description": "Updates a permission for a resource. Requires permission\n  - `sanity.{resourceType}.roles.update`\nRequires feature:\n  - `advancedRolesManagement`\n",
        "operationId": "updatePermission",
        "tags": [
          "Permissions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceTypeParam"
          },
          {
            "$ref": "#/components/parameters/resourceIdParam"
          },
          {
            "$ref": "#/components/parameters/permissionNameParam"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/PermissionRequestBody"
        },
        "responses": {
          "200": {
            "description": "Permission resource updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Permission"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "delete": {
        "summary": "Delete a permission",
        "description": "Deletes a specific permission for a resource. Can only be used with custom permissions. Requires permission\n  - `sanity.{resourceType}.roles.delete`\nRequires feature:\n  - `advancedRolesManagement`\n",
        "operationId": "deletePermission",
        "tags": [
          "Permissions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceTypeParam"
          },
          {
            "$ref": "#/components/parameters/resourceIdParam"
          },
          {
            "$ref": "#/components/parameters/permissionNameParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Permission deleted successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      }
    },
    "/v2025-07-11/access/{resourceType}/{resourceId}/user-permissions/me": {
      "get": {
        "summary": "Get current user permissions.",
        "description": "Gets current user permissions within scope of a resource. These permissions can be applied to roles and are used to determine user/robot access to resources.\n",
        "operationId": "getUserPermissions",
        "tags": [
          "Permissions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceTypeParam"
          },
          {
            "$ref": "#/components/parameters/resourceIdParam"
          },
          {
            "$ref": "#/components/parameters/cursorParam"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of permissions for all resources the current user has access to",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/UserPermission"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v2025-07-11/access/{resourceType}/{resourceId}/users": {
      "get": {
        "summary": "List all users of a resource and their assigned roles.",
        "description": "Retrieve a list of all users of a resource along with their assigned roles. When the resourceType is `organization`, this endpoint will return users of projects owned by the organization. Requires permission\n  - `sanity.{resourceType}.members.read`\n",
        "operationId": "getUsers",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceTypeParam"
          },
          {
            "$ref": "#/components/parameters/resourceIdParam"
          },
          {
            "$ref": "#/components/parameters/cursorParam"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          },
          {
            "$ref": "#/components/parameters/includeImpliedRolesParam"
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Field by which to sort result. Currently supports field 'displayName'",
            "example": "displayName"
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "In which order to list results",
            "example": "desc"
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter results based on `email` match"
          },
          {
            "name": "displayName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter results based on `displayName` match"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of resource users and their assigned roles",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/User"
                          }
                        },
                        "totalCount": {
                          "type": "integer",
                          "description": "Total number of users available",
                          "example": 1
                        }
                      },
                      "required": [
                        "totalCount"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      }
    },
    "/v2025-07-11/access/organization/{resourceId}/users/roles/default": {
      "put": {
        "summary": "Apply organization default role to all users.",
        "tags": [
          "Users"
        ],
        "description": "Add default role to all resource users. Limited to Organization. Requires permission\n  - `sanity.organization.members.update`\n",
        "operationId": "addDefaultRoleToUsers",
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceIdParam"
          }
        ],
        "responses": {
          "201": {
            "description": "Roles assigned to the resource users"
          },
          "400": {
            "description": "Invalid input"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      }
    },
    "/v2025-07-11/access/{resourceType}/{resourceId}/users/{sanityUserId}": {
      "get": {
        "summary": "Get user and roles.",
        "description": "Get the users for a single user of a resource. Requires permission - `sanity.{resourceType}.members.read`",
        "operationId": "getUser",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceTypeParam"
          },
          {
            "$ref": "#/components/parameters/resourceIdParam"
          },
          {
            "$ref": "#/components/parameters/sanityUserIdParam"
          },
          {
            "$ref": "#/components/parameters/includeImpliedRolesParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Get resource user and their roles.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "delete": {
        "summary": "Remove a user from a resource.",
        "description": "This removes all roles. If the resourceType is `organization`, this will also remove the user from all projects owned by the organization. Requires permission\n  - `sanity.{resourceType}.members.delete`\n",
        "operationId": "removeUser",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceTypeParam"
          },
          {
            "$ref": "#/components/parameters/resourceIdParam"
          },
          {
            "$ref": "#/components/parameters/sanityUserIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "User removed from the resource"
          },
          "400": {
            "description": "Invalid input"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      }
    },
    "/v2025-07-11/access/{resourceType}/{resourceId}/users/me": {
      "delete": {
        "summary": "Remove own user from a resource.",
        "description": "This removes the currently authenticated user from the given resource. If the resourceType is `organization`, this will also remove the user from all projects owned by the organization. This is a specific route which does not require resource permissions, since users should be able to remove themselves from resources without requiring an administrator to intervene for them.\n",
        "operationId": "removeOwnUser",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceTypeParam"
          },
          {
            "$ref": "#/components/parameters/resourceIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "User removed from the resource"
          },
          "400": {
            "description": "Invalid input"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      }
    },
    "/v2025-07-11/access/{resourceType}/{resourceId}/users/{sanityUserId}/roles": {
      "put": {
        "summary": "Replace the role set for a user.",
        "description": "Replace the role set for a user on a resource. The supplied `roleNames` become the user's complete role set: missing roles are added, extra roles are removed. The list must contain at least one role: at least one role must remain assigned at all times. Roles are assigned before extras are revoked so the user never momentarily drops to zero roles.\nA single composite `members.role.replace` activity event is emitted per call (no per-role events).\nRequires permission\n  - `sanity.{resourceType}.members.update`\n",
        "operationId": "replaceRolesForUser",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceTypeParam"
          },
          {
            "$ref": "#/components/parameters/resourceIdParam"
          },
          {
            "$ref": "#/components/parameters/sanityUserIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "roleNames"
                ],
                "properties": {
                  "roleNames": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User's role set updated"
          },
          "400": {
            "description": "Invalid input"
          },
          "403": {
            "description": "Forbidden (admin required for restricted roles)"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      }
    },
    "/v2025-07-11/access/{resourceType}/{resourceId}/users/{sanityUserId}/roles/{roleName}": {
      "put": {
        "summary": "Add a role to a user.",
        "description": "Add a role to a user. Requires permission\n  - `sanity.{resourceType}.members.update`\n",
        "operationId": "addRoleToUser",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceTypeParam"
          },
          {
            "$ref": "#/components/parameters/resourceIdParam"
          },
          {
            "$ref": "#/components/parameters/sanityUserIdParam"
          },
          {
            "$ref": "#/components/parameters/roleNameParam"
          }
        ],
        "responses": {
          "201": {
            "description": "Role assigned to the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "delete": {
        "summary": "Remove a role from a user in a resource.",
        "description": "You cannot remove the last role from a user. You must have at least one role assigned to a user. Requires permission\n  - `sanity.{resourceType}.members.update`\n",
        "operationId": "removeRoleFromUser",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceTypeParam"
          },
          {
            "$ref": "#/components/parameters/resourceIdParam"
          },
          {
            "$ref": "#/components/parameters/sanityUserIdParam"
          },
          {
            "$ref": "#/components/parameters/roleNameParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Role removed from user"
          },
          "400": {
            "description": "Invalid input"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      }
    },
    "/v2025-07-11/access/{resourceType}/{resourceId}/roles": {
      "get": {
        "summary": "List roles assignable to a user on this resource.",
        "description": "Requires permission\n  - `sanity.{resourceType}.roles.read`\n",
        "operationId": "getRoles",
        "tags": [
          "Roles"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceTypeParam"
          },
          {
            "$ref": "#/components/parameters/resourceIdParam"
          },
          {
            "$ref": "#/components/parameters/includeChildrenParam"
          },
          {
            "$ref": "#/components/parameters/cursorParam"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          },
          {
            "$ref": "#/components/parameters/includeImpliedRolesParam"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of roles for a resource",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Role"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a role",
        "description": "Requires permission:\n  - `sanity.{resourceType}.roles.create`\nRequires feature:\n  - `advancedRolesManagement`\n",
        "operationId": "createRole",
        "tags": [
          "Roles"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceTypeParam"
          },
          {
            "$ref": "#/components/parameters/resourceIdParam"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/RoleRequestBody"
        },
        "responses": {
          "201": {
            "description": "Role created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Role"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      }
    },
    "/v2025-07-11/access/{resourceType}/{resourceId}/roles/{roleName}": {
      "get": {
        "summary": "Get a role",
        "description": "Requires permission\n  - `sanity.{resourceType}.roles.read`\n",
        "operationId": "getRole",
        "tags": [
          "Roles"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceTypeParam"
          },
          {
            "$ref": "#/components/parameters/resourceIdParam"
          },
          {
            "$ref": "#/components/parameters/roleNameParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Get a role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Role"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Role not found"
          }
        }
      },
      "put": {
        "summary": "Update a role",
        "description": "Requires permission:\n  - `sanity.{resourceType}.roles.update`\n\nRequires feature:\n  - `advancedRolesManagement`\n\nReplaces existing object values including permissions.\n",
        "operationId": "updateRole",
        "tags": [
          "Roles"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceTypeParam"
          },
          {
            "$ref": "#/components/parameters/resourceIdParam"
          },
          {
            "$ref": "#/components/parameters/roleNameParam"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/RoleRequestBody"
        },
        "responses": {
          "200": {
            "description": "Role updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Role"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden. Only custom roles can be changed."
          },
          "404": {
            "description": "Role not found"
          }
        }
      },
      "delete": {
        "summary": "Delete a role",
        "description": "Requires permission:\n  - `sanity.{resourceType}.roles.delete` for resource scoped roles (e.g. project admin)\n\nRequires feature:\n  - `advancedRolesManagement`\n\nCannot delete a role that is assigned to a user. The role needs to be removed from users first.\n",
        "operationId": "deleteRole",
        "tags": [
          "Roles"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceTypeParam"
          },
          {
            "$ref": "#/components/parameters/resourceIdParam"
          },
          {
            "$ref": "#/components/parameters/roleNameParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Role deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Role not found"
          }
        }
      }
    },
    "/v2024-07-01/access/{resourceType}/{resourceId}/requests": {
      "get": {
        "summary": "List all requests for given project/organization.",
        "description": "Permissions `sanity.{resourceType}.members.read`",
        "operationId": "getRequests",
        "tags": [
          "Requests"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceTypeParam"
          },
          {
            "$ref": "#/components/parameters/resourceIdParam"
          },
          {
            "$ref": "#/components/parameters/includeChildrenParam"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of resource requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Request"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Request not found"
          }
        }
      },
      "post": {
        "summary": "Create a new Request",
        "description": "Creates a new request for the given project/organization. Requires an authenticated user.",
        "operationId": "createRequest",
        "tags": [
          "Requests"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceTypeParam"
          },
          {
            "$ref": "#/components/parameters/resourceIdParam"
          }
        ],
        "requestBody": {
          "description": "Request data to create",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "note": {
                    "type": "string",
                    "example": "Text describing the reason of the request"
                  },
                  "requestUrl": {
                    "type": "string",
                    "example": "https://sanity-studio.mycompany.io/doc/1234567890",
                    "description": "Optional URL to redirect the user to after their request has been accepted. Do not include PII or other confidential information.\n"
                  },
                  "requestedRole": {
                    "type": "string",
                    "example": "editor",
                    "description": "Optional role requested by the user. The approver can assign a different role, but this is just a suggestion. If the role does not exist, the request will still be created and no validation on the role will be done.\n"
                  },
                  "type": {
                    "$ref": "#/components/schemas/RequestType"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Request created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Request"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Request not found"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": {
                        "oneOf": [
                          "The email domain is not allowed",
                          "Request Access feature is disabled for organization"
                        ]
[...]
